/*========== HOME SECTION ==========*/
#waves {
  margin-top: -500rem;
  width: 100%;
}

.home.container {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 5rem auto 5rem;
  min-height: 0;
}

.home.container .row {
  justify-content: center;
}

@keyframes ani01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home .row .shape:nth-child(1) {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid var(--green);
  border-radius: 5px;
  right: 50%;
  top: 35%;
  animation: ani01 10s linear infinite;
  z-index: 1;
}

.home .row .shape:nth-child(2) {
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  border: 2px solid #ffe600;
  border-radius: 5px;
  right: 70%;
  top: 10%;
  animation: ani01 10s linear infinite;
  z-index: 1;
}

.row.hero .col-1 {
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 50px;
}

.col-1 h1 {
  color: var(--grey);
}

.highlight-name {
  color: var(--h1);
  font-size: 80px;
  font-weight: 700;
  margin-top: 20px;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.row.hero .col-2 img {
  max-width: 500px;
  width: 100%;
  animation: bounceTop_01 4s ease infinite;
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}

.row.hero h4 {
  margin: 10px 0 30px 0;
  font-size: 20px;
  padding-bottom: 20px;
  font-size: 60px;
  color: #d1befd;
}

.home-btn {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.ctn {
  padding: 15px 30px;
  border: 2px solid var(--grey);
  border-radius: 12px;
  color: var(--h1);
  border-radius: 13px;
  text-align: center;
}

.cta {
  padding: 15px 40px;
  background: var(--green);
  border: 2px solid var(--green);
  color: #fff;
  border-radius: 13px;
  text-align: center;
  margin-right: 20px;
  transition: 0.1s ease;
}

@keyframes pulse_01 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--shadow-animation-1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px var(--shadow-animation-2);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--shadow-animation-3);
  }
}

.ctn:hover {
  border: 2px solid var(--green);
  color: var(--green);
}

.cta:hover {
  animation: pulse_01 2s ease infinite;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--button-main);
  max-width: 100%;
  width: 80%;
  border-radius: 10px;
  margin: -45px 0 3rem;
  left: 10%;
  padding: 20px;
}

.quote p {
  color: var(--white);
  width: 61%;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.bell-quote {
  position: absolute;
  color: #ffe600;
  font-size: 80px;
  bottom: 75%;
  right: 90%;
}
/*========== END ==========*/

/*========== Modal Contact Mobile Version ==========*/
.modal__button-main {
  background-color: var(--button-main);
  border: none !important;
  outline: none !important;
  display: none;
  color: var(--white);
  padding: 15px;
  margin-top: -30px;
  margin-bottom: 50px;
  width: 80%;
  border-radius: 12px;
  z-index: 3;

  -webkit-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.3), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 1px 2px 6px rgba(255, 255, 255, 0.2), inset -1px -3px 5px rgba(0, 0, 0, 0.3), 0 0.15rem 0.15rem 0 rgba(0, 0, 0, 0.3) !important;
}

.modal__button-main:hover {
  animation: none;
  transition: all 0.2s ease;
  transform: scale(0.97);
  -ms-transform: scale(0.97); /* Support IE 9 */
  -webkit-transform: scale(0.97); /* support Safari */
}

iframe {
  margin: 25px 0 10px 0;
  border-radius: 10px;
}

.modal__button a {
  display: inline-block;
  background: var(--button-main);
  color: var(--white);
  padding: 10px 35px;
  border-radius: 10px;
  border: none !important;
}

.modal__button a:hover {
  background: var(--button-main-hover);
}

.mail a {
  display: inline-block;
  margin: 0;
  border: none !important;
  width: 70%;
}

/* .tele {
  padding-top: 10px;
} */

.tele a {
  display: inline-block;
  /* margin: 10px 0; */
  margin: 0 0 10px 0;
  border: none !important;
  width: 70%;
}

.or {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.or .line1,
.or .line2 {
  content: '';
  max-width: 100px;
  width: 100%;
  height: 1px;
  background: var(--grey);
  border-radius: 20px;
}

.or p {
  font-size: 12px;
  color: var(--grey);
  margin: 0 15px 0 15px;
}

.line3 {
  content: '';
  max-width: 40px;
  width: 100%;
  height: 3px;
  background: var(--grey);
  border-radius: 20px;
  margin: 10px auto 3rem;
}

.modal__container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  place-items: center;
}

.modal__content {
  position: relative;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  background: white;
  margin-bottom: 5rem;
  padding: 0 0 3rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.modal__img {
  width: 170px;
  margin-top: 1rem;
}

.contact-icons ul {
  display: flex;
  justify-content: center;
  padding: 5px 0 10px 0;
}

.contact-icons ul li a {
  margin: 15px;
  color: var(--grey);
  font-size: 30px;
}

.contact-icons ul li a:hover {
  color: var(--button-main);
}
